.gitignore
.ipynb_checkpoints/
__pycache__/
test.ipynb
gitignore_untracked.sh
pickle/fits/*
pickle/mode_searchers/*
plots/*
pickle/data_frame/*
pickle/mode_searchers/
test_script.py
slurm_scripts/
pickle/data_frame/
data/
*.ipynb
./*.ipynb
json/*
