.ipynb_checkpoints/
__pycache__/
*.pyc
test.ipynb
gitignore_untracked.sh
pickle/fits/*
pickle/mode_searchers/*
plots/*
pickle/data_frame/*
pickle/mode_searchers/
test_script.py
slurm_scripts/
pickle/data_frame/
data/
docs/notebooks/*.html
docs/notebooks/__marimo__/
json/*
.jaxqualin_cache/
.pixi/
pixi.lock